.create-tweet__content {
  display: flex;
  justify-content: space-between;
}

.create-tweet__content .left {
  flex: 8%;
}

.create-tweet__content .right {
  flex: 91%;
  padding-left: 1%;
}

.create-tweet__form {
  margin-top: 14px;
}

.create-tweet__profile-image img {
  border-radius: 12px;
}

.create-tweet-form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.create-tweet-form__footer .left {
  flex: 50%;
}

.create-tweet-form__footer .right {
  flex: 50%;
  text-align: right;
}
